/* CSS - Cascading Style Sheets*/
/* CSS is a language that we can use to describe the apearance or the visual of our document*/
/* CSS Pattern  selector {
                    property: value;
                }*/

/*Including Styles:  */
/* INLINE STYLES - You can write your styles directly inline on each element, but this is NOT A GOOD IDEA most of the time */
/* THE <STYLE> ELEMENT - writing styles isode the <style> element. This is easy, but it makes it impossible to share styles between documents. NOT RECOMMENDED EITHER*/
/* EXTERNAL SHEET - Write your styles in a .css file, then include th using a <link> in the head of your html document. RECOMMENDED*/

/* Colors Systems */
/* 140 different named colors available - LIMITED*/

/* RGB - Red, Green, Blue Channels. Each channel ranges from 0-255*/
/* USE COLOR PICKERS AND COLOR PALETTES*/

/* HEX -Represented with hexadecimal notation */

h2 {
    color: #81B7F2;
    background-color: rgb(255, 168, 168);
}

button {
    color: magenta;
    background-color: cyan;
}

/* Background-color and background are two different properties */
p {
    color: olive;
    background: blueviolet;
}

/* only three digits when the pairs are the same (instead of ff, only f) (#cc55ee - #c5f)*/
body {
    background-color: #000;

}