/* text-decoration does a lot, mostly used to remove an underline, set an underline, or stike through */

h1 {
    text-align: center;
    font-weight: 400;
    /* font-weight: normal, bold etc...; */
    text-decoration: #456432 underline wavy;
    letter-spacing: 10px;
}

a {
    text-decoration: none;
}

p {
    line-height: 2;

}