/* text-decoration does a lot, mostly used to remove an underline, set an underline, or stike through */
/* Absolute Units - PX - By far the most commmonly used absolute unit
Not recomended for responsive website */
h1 {
    text-align: center;
    font-weight: 400;
    /* font-weight: normal, bold etc...; */
    text-decoration: #456432 underline wavy;
    letter-spacing: 15px;
    font-size: 80px;
    /* Listed based on priority */
    font-family: Segoe UI, Futura, Arial, sans-serif;
    /* font-famili: fantasy; (fantasy is not a specific font name, but a generic family name) */
}

a {
    text-decoration: none;
}

p {
    line-height: 2;

}