/* The image shrinks down because we used percentage (If the body width changes, then the image width changes too) */

/* EXTRA */
/* We did not separate the images with a new line because it would add a space in between then, and it would mess up our calculations  */

img {
    width: 30%;
    /* 10% left devided by 6 = 1.666%*/
    /* margin: 1.6666%; */
    margin: calc(10%/6);

}

nav {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: 30%;
    margin-left: calc(10%/6);
    padding: 1.2em 0;
}