/* FLEXBOX is a tool, or a series of properties that we use to lay out items on our page in a box of content. */
/* We have some container and we want to distribute space inside of that container. */

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
}

/* Te flex model */
/* <---> main axis and cross axis  */

/* Flex-direction:row (left to right) | row-reverse (right to left) | column (top to bottom) | column-reverse (bottom to top) */
/* If it width or height of the container (section) is smaller then the divs then they will shtrink */
/* flex-direction: row; (default); */

/* Justify Content determines how the actual elements, how the content is distributed across the main axis */
/* justify-content: flex-start (default) */
/* flex-start, flex-end, flex-center, space-between (between elements, but not between the element and the container) */
/* space-around (half space in the far left and right) */
/* space-evenly (The same amount of space) */
/* justify-content is not horizontal or vertical, it can be either depending on flex-direction*/

/* Flex-Wrap: nowrap (default) | wrap | wrap-reverse*/

/* Alighn-Items is going to distribute space or distribute items along the cross axis  */
/* Justify-content is on the main axis, align items on the cross axis */


/* Align-content works only when we have flex-wrap. It is used wehen we have multiple rows (controlles the space between the rows) or columns*/
/* Flex-start, flex-end, center, space-between, space-around etc. */

#container {
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    /* The main axis is top to bottom, but our cross is left to right */
    /* flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap; */
    flex-direction: row;
    justify-content: center;
    /* baseline - drawing a line at the bottom of each letter  */
    /* align-items: baseline; */
    align-items: flex-end;
    /* Flex-wrap is how we change the direction of the cross axis */
    flex-wrap: wrap;
    align-content: center;
}


#container div {
    width: 400px;
    height: 200px;
    text-align: center;
    font-size: 4em;
}