/* Universal Selector */
/* * {
    background-color: cyan;
} */

body {
    background-color: #bde0fe;
}

/* Element Selector */
button {
    font-size: 30px;
    background-color: #ffcfd2;
}

/* Selector List */
h1, h2 {
    color: yellowgreen;
    ;
}


/* The ID Selector */
/* They can only be used once (it singles out one thing)*/
#signup {
    background-color: #cfbaf0;
}

/* Class Selector - grouping together content (they can be different elements)*/
span {
    color: #ff4d6d;
}

.tag {
    background-color: #8499db;
    color: #f1faee;
    font-size: 16px;
}

/* Descendant Selector - Selects all elements that are desendants (nested) of another element */

.post a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

footer a {
    color: #8f2d56;
}

/* Adjacen Selector - Selects only the elemnts immediately proceded by another element */
/* + (adjecent combinator) */

input + button {
    background-color: green;
}

h2 + button {
    font-size: 20px;
    background-color: magenta;
}

/* Direct Child Combinator -  Selects only the elements that are direct children of another element (one level down)*/

footer > a {
    color: #343a40;
}

/* Attribute Selector - Selects all elements where the attribute is set to a value */

input[type="password"] {
    color: red;
}

/* section[class="post"] {
    background-color: #9fffcb;
} */

/* section.post - another way to say style the selectors that have the class post */

/* the* selector next to an attribute says that the attributes with the value that cointain something */

a[href*="google"] {
    color: mediumseagreen;
}

/* PSEUDO CLASSES - Keyword added to a selector that sppecifies a special state of the selected element(s) */

/* :hover */
.post button:hover {
    background-color: #8f2d56;
    color: #bde0fe;
}

a:hover {
    text-decoration: underline;
}

/* :active */

.post button:active {
    background-color: #184e77;
}

/* :checked */

/* :nth-of-type() */
/* (3) the third 
   (3n) every third */
/* (2n+1) - odd */
/* Another approach is (odd) (even) */
.post:nth-of-type(2n+1) {
    background-color: #bcb8b1;
}

/* PSEUDO ELEMENTS - Keyword added to a selector that lets you style a particular part of a selected element(s) */

/* ::first-letter */

h2::first-letter {
    font-size: 50px;
}

/* ::first-line */

p::first-line {
    color: purple;
}

/* ::selection */

p::selection {
    background-color: #8f2d56;
}

/* Pseudo classes are states.
   Pseudo elements are things or parts of an elemen we are selecting */

/* Adding something before an element */

#maca::before {
    content: url(today-hello.gif);
}

/* Adding something after an element */

p::after {
    content: url(cat-snuggle.gif);
}

/* The CSS Cascade - The order your styles are declared in and linked to matters*/

h1, h2 {
    color: #184e77;
}

/* SPECIFICITY */

/* ID SELECTORS > CLASS (PSEUDO CLASS) SELECTORS > ELEMENT (PSEUDO-ELEMENT) SELECTORS*/

/* Specificity Calculater */

/*The background-color of the first one wins because it is more specific  */

/* .post button:hover {
    background-color: #8f2d56;
    color: #bde0fe;
} */

button:hover {
    background-color: olive;
    font-size: 10px;
}