/* Universal Selector */
/* * {
    background-color: cyan;
} */

body {
    background-color: #bde0fe;
}

/* Element Selector */
button {
    font-size: 30px;
    background-color: #ffcfd2;
}

/* Selector List */
h1, h2 {
    color: #184e77;
}


/* The ID Selector */
/* They can only be used once (it singles out one thing)*/
#signup {
    background-color: #cfbaf0;
}

/* Class Selector - grouping together content (they can be different elements)*/
span {
    color: #ff4d6d;
}

.tag {
    background-color: #1c2541;
    color: #f1faee;
    font-size: 16px;
}

/* Descendant Selector - Selects all elements that are desendants (nested) of another element */

.post a {
    color: #000;
}

footer a {
    color: #8f2d56;
}

/* Adjacen Selector - Selects only the elemnts immediately proceded by another element */
/* + (adjecent combinator) */

input + button {
    background-color: green;
}

h2 + button {
    font-size: 20px;
    background-color: magenta;
}

/* Direct Child Combinator -  Selects only the elements that are direct children of another element (one level down)*/

footer > a {
    color: #343a40;
}